/* Aan te passen:
- "Lessen" mooi zetten
- het content-venster aanpassen (padding weg, breedte kleiner maken en zorgen dat de marge links en rechts altijd hetzelfde zijn) */


/* Body en achtergrond */

body {
     background: lightgrey;
     font-family: 'Roboto', sans-serif;
     --eersteKleur: rgb(255, 255, 255);
     --tweedeKleur: rgb(178, 178, 178);
       --derdeKleur: rgb(31, 69, 86);
     --vierdeKleur: rgb(21, 39, 58);
     --vijfdeKleur: rgb(242, 158, 6);
     font-weight: 300;
     overflow: hidden;
     color: var(--vierdeKleur);
}

.achtergrond {
     background: url(../images/Dashboard1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     position: fixed;
     filter: blur(5px);
}

/* Tekst */

h1{
     color: var(--eersteKleur);
     font-weight: 500;
     width: 15vw;
     position: relative;
     left: 50%;
     transform: translate(-50%);
     margin-bottom: 50px;
     text-align: center;
}

h2 {
     font-size: 21pt;
     font-weight: 900;
     margin-bottom: 20px;
}

h3 {
     font-size: 50pt;
     font-weight: 900;
}

/* Navigatie */

nav {
     margin-bottom: 50px;
}

li {
     text-align: center;
     padding: 10px 0px 10px 0px;
     background: rgba(0, 0, 0, 0.2);
}

li:hover {
     background: var(--vierdeKleur);
}

a {
     color: var(--vierdeKleur);
}

a:hover {
     color: var(--vijfdeKleur);
}

.navLink {
     text-decoration: none;
     color: var(--eersteKleur);
     width: 10vw;
     position: relative;
}

.navigatie {
     background: var(--derdeKleur);
     width: 20vw;
     height: 100vh;
     list-style: none;
     position: fixed;
     box-shadow: -2px 0px 30px 8px rgba(0,0,0,0.60);
}

.logo {
     width: 10vw;
     position: relative;
     left: 50%;
     transform: translate(-50%);
     margin-top: 50px;
     margin-bottom: 20px;
}

.eigenFoto {
     border-radius: 50%;
     border: 0.5vw solid var(--tweedeKleur);
     box-sizing: border-box;
     width: 10vw;
     height: 10vw;
     margin-bottom: 30px;
     position: relative;
     left: 50%;
     transform: translate(-50%);
     background: url(../images/default-placeholder.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

/* Content */

.content {
     width: 80vw;
     height: 100vh;
     position: absolute;
     left: 20vw;
     padding: 150px 0px 100px 5vw;
     overflow-y: scroll;
}

.contentVlak {
     width: 30vw;
     height: 15vw;
     background: var(--eersteKleur);
     position: relative;
     margin: 20px;
     box-shadow: -2px 0px 30px 8px rgba(0,0,0,0.30);
     display: block;
     float: left;
     padding: 30px 20px 20px 20px;
}

/* Login pagina */

body.page-login {
    background-color: var(--vierdeKleur);
}

div.login-box {
    width: 25%;
    height: 350px;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    border: 1px solid rgb(231, 231, 231);
    margin: 150px auto 0 auto;
    padding: 20px;
}

div.form-group {
    width: 85%;
    margin: 0 auto;
}

img.login-profile {
    width: 25%;
    max-width: 30%;
    border-radius: 150px;
    box-shadow: 2px 2px 15px var(--vierdeKleur);
    margin: 0 auto;
    position: relative;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%);
}

input.login-input {
    margin-bottom: 30px;
}

button.login-signin, button.login-signin:hover {
    color: var(--eersteKleur);
    font-size: 16px;
    background-color: var(--vijfdeKleur);
    border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 15px;
    margin-bottom: 20px;
}

/*Media queries*/

@media (max-width: 1100px) {
    div.login-box {
        width: 34%;
    }
}

@media (max-width: 885px) {
    div.login-box {
        width: 40%;
    }
}

@media (max-width: 850px) {
    div.login-box {
        width: 50%;
    }
}

/*@media (max-width: 765px) {
    div.login-box {
        width: 75%;
    }
}*/

@media (max-width: 555px) {
    div.login-box {
        width: 90%;
    }
}
