/* Body en achtergrond */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--vierdeKleur);
    --eersteKleur: rgb(255, 255, 255);
    --tweedeKleur: rgb(178, 178, 178);
    --derdeKleur: rgb(31, 69, 86);
    --vierdeKleur: rgb(21, 39, 58);
    --vijfdeKleur: rgb(242, 158, 6);
    position: relative;
}

/* Sidebar */
#sidebar-wrapper {
     z-index: 1;
     position: absolute;
     width: 0;
     height: 100vh;
     overflow-y: hidden;
     background: var(--derdeKleur);
     opacity: 0.9;
}

/* Main content */
#page-content-wrapper {
     width: 100%;
     position: absolute;
     padding: 15px;
}

/* Verander de breedte van de sidebar om het te laten zien */
#wrapper.menuDisplayed #sidebar-wrapper {
     width: 20vw;
}

#wrapper.menuDisplayed #page-content-wrapper {
     padding-left: 20vw;
}

/* Sidebar styling */
.sidebar-nav {
     padding: 0;
     list-style: none;
}

.sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
}

.sidebar-nav li a {
     display: block;
     text-decoration: none;
     color: black;
}

.sidebar-nav li a:hover {
     background: purple;
}





/*.achtergrond {
     background: url(../images/Dashboard1.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     position: fixed;
     filter: blur(5px);
}
*/


/* Tekst */


/*h1 {
    color: var(--eersteKleur);
    font-weight: 500;
    width: 15vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    font-size: 21pt;
    font-weight: 900;
    margin-bottom: 20px;
}

h3 {
    font-size: 50pt;
    font-weight: 900;
}

.logo {
    width: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 20px;
}

.eigenFoto {
    border-radius: 50%;
    border: 0.5vw solid var(--tweedeKleur);
    box-sizing: border-box;
    width: 10vw;
    height: 10vw;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: url(../images/default-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/
